<form>
  <div class="mb-3">
    <label for="FirstName" class="form-label">FirstName</label>
    <input type="text" class="form-control" id="FirstName" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="LastName" class="form-label">LastName</label>
    <input type="text" class="form-control" id="LastName">
  </div>
  <div class="mb-3">
    <label for="Email" class="form-label">Email</label>
    <input type="Email" class="form-control" id="Email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="Mobile" class="form-label">Mobile</label>
    <input type="number" class="form-control" id="Mobile"> 
  </div>
  <div class="mb-3">
    <label for="Password" class="form-label">Password</label>
    <input type="password" class="form-control" id="Password"> 
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
